<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphical View</title>
    <style>
        body {
            background-color: #f4f4f9;
        }
    </style>
</head>
<body>
<img src="{{ url_for('static', filename='budget_allocation.png') }}" alt="Example Image" style="max-width: 100%; height: auto; margin-bottom: 20px;">
<img src="{{ url_for('static', filename='priority_scores.png') }}" alt="Example Image" style="max-width: 100%; height: auto; margin-bottom: 20px;">
</body>
</html>